[viewBag]

[builderList]
modelClass = "Briliantmax\Slider\Models\Slider"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="owl-carousel">
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

    {% for record in records %}
       
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}
                <div class="item" style="background-image: url({{ record.slider.path }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                              <!--   <div class="carousel-content">
                                  <h2><span>Multi</span> is the best Onepage html template</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua. </p>
                                  <a class="btn btn-primary btn-lg" href="#">Read More</a>
                              </div> -->
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
               

               
            {% endspaceless %}
     
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}

            
 </div><!--/.owl-carousel-->