[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Products</h2>
                <p class="text-center wow fadeInDown">Meningkatkan kepuasan pelanggan dengan meningkatkan mutu produk  dan pelayanan terhadap pelanggan secara berkesinambungan. <br>
                    Menawarkan penghematan waktu, biaya dan energi tanpa harus mengorbankan produktivitas perusaha </p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Product</a></li>
                    <li><a href="#" data-filter=".polar">POLAR 115 E Th. 2004</a></li>
                    <li><a href="#" data-filter=".sors">SORS Th. 95 </a></li>
                    <li><a href="#" data-filter=".sorm">SORM Th. 95</a></li>
                    <li><a href="#" data-filter=".polar2">POLAR 115 EMC Th. 95</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item polar">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/1.png'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 1</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f1.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item polar">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/2.png'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f2.png'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sors">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/3.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f3.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sors">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/4.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f4.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sorm">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/5.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f5.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sorm">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/6.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f6.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item sorm">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/7.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f7.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item polar2">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/8.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f8.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                
                <div class="portfolio-item polar2">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/9.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f9.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                
                <div class="portfolio-item polar2">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/10.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f10.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                
                <div class="portfolio-item polar2">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/11.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f11.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                
                <div class="portfolio-item polar2">
                    <div class="portfolio-item-inner">
                        <img width='125%' class="img-responsive" src="{{ 'assets/images/portfolio/12.jpg'|theme }}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{{ 'assets/images/portfolio/f12.jpg'|theme }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->