[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">PT. BRILIANTMAX INDONESIA</h2>
                <p class="text-center wow fadeInDown">PT. BRILIANTMAX INDONESIA adalah perusahaan swasta nasional yang berdiri sejak tahun 2011<br> bergerak di bidang Printing Consulting dan Trading dengan bidang layanan meliputi :</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-gear"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Mesin Industri</h4>
                                <p>Penyedia mesin-mesin industri cetak second hand seperti HEIDELBERG, POLAR, RYOBI, WOHLENBERG dan masih banyak yang lainnya.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-print"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Material Cetak</h4>
                                <p>Penyedia material cetak seperti Paper, PS-Positive Plate, Blanket, Blanket Cleaner, Eggopast, Eggolan, Fountain Solution, Plate Cleaner, Ink, Positive Developer, Corrector, Sponge, New Moll, RWA, ABC Wash, Perfect Gum, Bucerin Rwa, Spray Powder, Isopropile Alkohol.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Konsultan</h4>
                                <p>Penyediaan jasa Konsultan Elektrik dan Mekanik, Installation and Service of the Machine, Throubleshooting and Repair, Ground and Fine Adjustment, Spare Part of the Machine.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                   
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->